# .gitignore
#
# any local SSH keys
*.key
*.pem
*.pub
*.ppk
id_rsa*

# terraform sensitive
terraform.tfstate
terraform.tfstate.lock.hcl
terraform.tfstate.backup
.terraform.tfstate.lock.info
.terraform.lock.hcl
.terraform

# end of .gitignore
